.container {
   

    
    padding: 4px;

    background-color: #f2f2f2;
    border: 0.5px solid #d9d9d9;
}

.grid {
     display: -moz-grid-line;
        height: 40px;
            width: auto;

}

.btn {

    height: auto;
    width: 100px;
    margin: 4px;
    background-color: #d9d9d9;
}